.footer{
    color: $text-white;
    &-social{
        display: flex;
        justify-content: center;
    }
    &__link{
      @include links-style;
    }
    &-copyright{
        margin-top: 20px;
        font-weight: $font-bold;
    }
    p{
        color: $text-white;
    }
    
}