//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Lobster&display=swap');

$Lobster:'Lobster', cursive; //400
$Lato:'Lato'; //100,300,400,700
$larsseit : 'larsseit';

//COLORS
$text-white: #fff;
$text-black: #333;
$brand-color:#e65f78;
$border-color: #dee2e6;
$content-color:#6c757d;

//heading FONT-SIZEs
$heading-lg: 55px;
$heading-md: 30px;
$heading-sm: 18px;

//title font
$section-title-size: 25px;

//icon font
$icon-size: 35px;

//btn font
$btn-size:14px;

//background color
$bg-light: #f8f9fa;
$bg-dark:#333;
$bg-white:#fff;

//font-weights
$font-bold: 700;
$font-semibold: 500;
$font-med:400;
$font-normal:300;

/* Breakpoint sizes */
$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;

//text size
$text-size:(
    'small-font-size': 14px,
    'med-font-size': 16px,
    'large-font-size': 18px
);


// Forms
$forms: (
  'form-element-border-color': #ced4da,
  'form-element-focus-border-color': $brand-color,
  'placeholder-color': #495057,
  'form-font-size':16px
);


